body {
  max-width: 960px;
  margin: auto;
  background-color: #3C4C60;
}
#hide {
  width: 400px;
  margin:auto;
}
input {
  width: 100%;
  border-radius: 7px;
  background-color: gray;
  color: black;
}
label{
  color: gray;
}
#error {
  color: rgb(104, 3, 3);
}
#gallery-title {
  width: 100px;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  color:  black;
}